.container {
  background-color: #000;
  height: 100vh;
}
.square-wrapper{
  padding-top: 100px;
}
.square{
  height: 200px;
  width: 200px;
  margin: 0 auto 0;

  background-color: red;
}
.fade-enter {
  opacity: 0;
  transform: translateX(100%);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms;
}

.fade-exit {
  opacity: 1;
  transform: translateX(0);
}

.fade-exit-done,.fade-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 500ms;
}
